        <div class="row bottom">
            <div class="medium-12 column medium-centered text-center glow">
                <img src="public/images/HTML5-logo.png" width="20px" height="30px">
                <img src="public/images/foundation6-logo.png" width="20px" height="30px">
                <img src="public/images/sass-logo.png" width="20px" height="30px">
                <img src="public/images/js-logo.png" width="20px" height="30px">
                <img src="public/images/nodejs-logo.png" width="20px" height="30px">
                <img src="public/images/nedb-logo.png" width="20px" height="30px">
            </div>
        </div>

        <!-- SCRIPTS -->
        <script src="public/javascripts/main.js"></script>

    </body>
</html>