<% include public/views/header.ejs %>

<div class="row" id="masthead">
    <div class="medium-1 columns text-center vertical-center">
        <img src="public/images/NSP-logo.png" width="60px" height="100px" class="shadow">
    </div>
    <div class="medium-10 columns">
        <h2 class="text-center">Coach Training Event Log</h2>
    </div>
    <div class="medium-1 columns text-center vertical-center">
        <img src="public/images/NSP_NMR-logo.png" width="60px" height="100px" class="shadow">
    </div>
</div>
<br><br>
<div id="top">
    <div class="row">
        <div class="medium-5 columns text-right">
            <span class="label vertical-center">NSP ID:</span>
        </div>
        <div class="medium-2 columns text-left end">
            <input type="text" id="coachId0" name="coachId0" placeholder="6 digit NSP ID">
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns medium-centered">
            <div class="success button expanded" id="begin"><h5>Begin</h5></div>
        </div>
    </div>
</div>
<div id="logEntry">
    <div class="row">
        <div class="medium-12 columns">
            <p>Welcome, <strong><span id="coachName"></span></strong>. Here are your existing training events:</p>
        </div>
    </div>
    <div id="existingEvents"></div>
    <br>
    <div class="row">
        <div class="medium-12 columns">
            <p>Please log your new training events:</p>
        </div>
    </div>
    <form id="coachingData" method="get">
        <input type="hidden" id="coachID" name="coachID">
        <input type="hidden" id="lastName" name="lastName">
        <input type="hidden" id="firstName" name="firstName">
        <div class="row">
            <div class="medium-2 column">
                <span class="label">Event Date</span><input type="date" name="eventDate" id="eventDate" required>
            </div>
            <div class="medium-2 column">
                <span class="label">Event Number</span><input type="text" name="eventNumber" id="eventNumber">
            </div>
            <div class="medium-8 column">
                <span class="label">Event Name</span><input type="text" name="eventName" id="eventName" required>
            </div>
        </div>
        <br><br><br><br>
        <div class="row" id="endDiv">
            <div class="medium-12 columns medium-centered">
                <input type="submit" class="button large expanded" value="Enter" id="enter">
            </div>
        </div>
    </form>
</div>

<% include public/views/footer.ejs %>